:root {
  --primary-color: 219, 0, 219;
  --primary-dark: 162, 0, 162;
  --text-color: white;
  --bg-color: black;
}

/* FONTS */
@font-face {
  font-family: 'antonio';
  src: url(fonts/antonio-semi.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'antonio';
  src: url(fonts/antonio-bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'cairo';
  src: url(fonts/cairo-regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'cairo';
  src: url(fonts/cairo-semi.ttf);
  font-style: normal;
  font-weight: 600;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cairo, sans-serif;
  color: var(--text-color);
  background-color: grey;
}

.content-width{
  max-width: 960px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* --------------HEADER--------------- */
/* ----------------------------------- */
header{
  position: relative;
  text-align: center;
  text-align: -webkit-center;
  width: 100vw;
  height: 100vh;
}

/* NAV */
nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.nav-left, .nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

nav .logo{
  height: 2rem;
  width: auto;
  margin-right: .5rem;
}

nav img{
  height: 100%;
  filter: drop-shadow(0 0 0px rgba(255, 255, 255, 1));
  transition: .4s ease;
}

nav img:hover{
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 1));
}

nav a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
}

a.nav-active{
  color: rgb(var(--primary-color));
}

.portfolio, .about{
  position: relative;
}

.portfolio:before{
  content: 'Portfolio';
  position: absolute;
  font-family: sans-serif;
  font-weight: 900;
  color: rgb(var(--primary-color));
  width: 0;
  overflow: hidden;
  transition: 0.4s;
}

.portfolio:hover:before{
  width: 100%;
}

.about:before{
  content: 'About Me';
  position: absolute;
  font-family: sans-serif;
  font-weight: 900;
  color: rgb(var(--primary-color));
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s;
}

.about:hover:before{
  width: 100%;
}

/* BG IMAGE */
.bg-image{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: -1;
}

.bg-image .hero-image{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(/media/samuli-hero.jpg);
  background-position: center;
  background-size: cover;
  opacity: .8;
}

.bg-image .overlay{
  position: relative;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 255, 0.3);
}

/* HERO TEXT */
.hero-text{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-logo{
  height: 5rem;
  margin: 2rem 0;
}

.hero-text img{
  height: 100%;
}

.hero-text h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0 .5rem;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.3));
}

.hero-text h1 span{
  font-size: 3rem;
  letter-spacing: normal;
}

/* FADE BOXES */
.top-fader{
  position: absolute;
  top: 0;
  height: 15vh;
  width: 100%;
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  z-index: -1;
}

.bottom-fader{
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: -1;
}

header .arrow-down{
  position: absolute;
  bottom: 1rem;
}


/* --------------INTRO--------------- */
/* ----------------------------------- */


/* --------------WORK--------------- */
/* ----------------------------------- */


/* --------------SKILLS--------------- */
/* ----------------------------------- */